<div class="row">
  <aside class="col-md-4">
    <section class="user-info">
      <p class="mt-5">
        id: <%= @user.id %>
        <br> name: <%= @user.name %>
        <br> mail: <%= @user.mail %>
      </p>
      <p>
        access token: <%= @user.token %>
      </p>
    </section>
  </aside>
</div>
