<h1>Editing Post</h1>

<%= render 'form', post: @post %>

<%= link_to( 'destroy', @post, method: :delete, data: { confirm: 'are you sure?' }, class: "btn btn-sm btn-danger text-white mt-4" ) %>
<%= link_to( 'cancel', posts_path, class: "btn btn-sm btn-secondary mt-4", data: { confirm: 'do you want to move without saving?'} ) %>