<h1>New Post</h1>

<%= render 'form', post: @post %>

<script type="text/javascript">
  window.onload = function() {
    new Vue({
      el: '#editor',
      data: {
        input: '',
      },
      methods: {
        markdown: function() {
          return marked( this.input );
        }
      },
    });
  };
</script>